<div class="container">
    <p class="display-4 text-center">Chatting App</p>
    <div class="card" style="height: 30rem;overflow-y: auto;">
        <div class="card-body">
            <p *ngFor="let msg of messages" class="msg" [ngClass]="msg.sent?'send':'rec'">
                {{msg.message}}
            </p>
        </div>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" #msg>
        <div class="form-group-append">
            <button class="btn btn-primary" (click)="sendMsg(msg.value)">Send</button>
        </div>
    </div>
</div>