.msg{
    padding: 1rem;
    font-size: 1rem;
    color: white;
    width: 70%;
}

.rec{
    background-color: rgb(5, 58, 58);
    border-radius: 1rem 1rem 1rem 0.1rem;
}

.send{
    background-color: rgb(58, 5, 5);
    text-align: right;
    margin-left: auto;
    border-radius: 1rem 1rem 0.1rem 1rem;
}